.wrapper {
  display: flex;
  /* Main Axis */
  justify-content: space-around;

  /* Cross Axis */
  align-items: flex-start;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background-color: skyblue;
  color: white;
}
