@import "./reset.css";

body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display:flex;
  height:100vh;
}

.left {
  width: 33%;
  height: 100%;
  background-color: #f2f2f2;
  position:fixed;
  top:0;
  left:0;
  padding: 10vh 0 72px 72px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  color: #e7473c;
}

.left__title {
  width:50%;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 85px;
}

.left__info h3,
.left__info p {
  width: 70%;
  line-height: 1.2;
  text-align: justify;
}

.left__info h3 {
  font-size:30px;
  font-weight: 300;
  margin-bottom: 40px;
}

.left__info p {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 40px;
}


.left__info nav {
  width: 80%;
}

.left__info ul {
  display: flex;
  flex-wrap: wrap;
}


.right {
  display:none;
  height: 100vh;
  background-color: #e7473d;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-top: 150px;
}

.header span:nth-child(1) {
  font-size: 24px;
}

.main__img {
  position: relative;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT4eMXdqzZocxef0inw87nAsHdhU3va83sDYg&usqp=CAU");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.main__img i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:24px;
